body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(85, 85, 85);
}
.pagediv {
  border: 1px solid;
  box-shadow: 5px 10px rgb(46, 46, 46);
  width: fit-content;
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: -5px;
}
.pagediv2 {
  border: 1px solid;
  box-shadow: 5px 10px rgb(46, 46, 46);
  width: fit-content;
  padding: 10px;
  margin-left: 30px;
  margin-top: 50px;
}
#contentcontainer {
  margin-top: 10px;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: black;
}
#contentcontainer,
#navigation {
  display: inline-block;
}
#navigation {
  background-color: rgb(56, 56, 56);
  height: 100vh;
  width: 3cm;
}
html,
body {
  padding: 0;
  margin: 0;
}
footer {
  padding-top: 20px;
}

/* styling navlist */
#navlist {
  background-color: #0074d9;
  position: absolute;
  width: 100%;
}

/* styling navlist anchor element */
#navlist a {
  float: left;
  display: block;
  color: rgb(54, 54, 54);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}
.navlist-right {
  float: right;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
  background-color: rgb(54, 54, 54);
  color: black;
}

/* styling search bar */
.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

.search button {
  background-color: #0074d9;
  color: rgb(0, 0, 0);
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.dropbtn {
  background-color: rgb(56, 56, 56);
  color: rgb(0, 0, 0);
  padding: 2px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
i {
  display: inline-block;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(49, 49, 49);
}

#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 2px;
  border: none;
  border-bottom: 1px solid rgb(54, 54, 54);
  background-color: rgb(58, 58, 58);
}

#myInput:focus {
  outline: 3px solid rgb(54, 54, 54);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(54, 54, 54);
  width: 100px;
  height: 25vh;
  overflow: hidden;
  border: 1px solid rgb(54, 54, 54);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: rgb(54, 54, 54);
}

.show {
  display: block;
}
.websitelink {
  display: inline-block;
  margin-top: 10px;
}
.websitelink:hover {
  background-color: rgb(0, 0, 0);
}
