html {
  background-color: #131212;
  padding: 0px 20%;
  margin: 0px;
}
body {
  background-color: #121212;
  flex-direction: column;
  color: #d0d0d0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5vmax;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

@media (max-width: 1000px) {
  body {
    font-size: 3vmax;
  }
}

nav {
  background-color: #0f0f0f;
  margin: 0px;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
  transition: 0.3s;
  margin: 0.6% 0%;
}

nav ul li:hover {
  flex-grow: 1.1;
  text-align: center;
  color: #dfdfdf;
  cursor: pointer;
}

.music {
  border-radius: 5px;
  background-color: #0f0f0f;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 540px;
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  gap: 1rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.item {
  animation: marquee-content 10s infinite linear;
  display: flex;
}

.genre {
  padding: 0px 5px;
  margin: 0px 5px;
  border-radius: 5px;
  background-color: #131212;
  cursor: pointer;
}

.marquee:hover .item {
  animation-play-state: paused;
}

.music img {
  width: 100%;
}

.divided {
  display: flex;
  width: 100%;
}

.right {
  width: 33%;
}

.left {
  width: 67%;
}

.rating {
  font-size: 200%;
  text-align: center;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(var(--scroll-distance));
  }
}

.name,
.artist {
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.na.scrolling {
  animation: scroll 8s ease-in-out infinite alternate;
}

.nacont {
  overflow: hidden;
  white-space: nowrap;
}

.name::-webkit-scrollbar,
.artist::-webkit-scrollbar {
  display: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading div {
  align-items: center;
  vertical-align: middle;
}

.heading h2 {
  margin: 0;
}

.heading i {
  margin-right: 25px;
}

.genres {
  height: 1rem;
  width: 100%;
}
